services:
  db:
    container_name: postgres
    image: postgres:latest

    environment:
      POSTGRES_USER: Smooozy
      POSTGRES_PASSWORD: password
      PGDATA: /data/postgres
      POSTGRES_DB: project

    volumes:
      - db:/data/postgres
      
    ports:
      - "5332:5432"

    networks:
      - db

    restart: unless-stopped
    
    
  redis:
    container_name: redis-spring-boot
    image: redis:latest
    
    command: redis-server --appendonly yes
    
    ports:
      - "6379:6379"
      
    volumes:
      - redis_data:/data
      
    networks:
      - app-network
      
    restart: unless-stopped

networks:
  db:
    driver: bridge
  app-network:
    driver: bridge
    

volumes:
  db:
  redis_data: